* {
  margin: 0;
  padding: 0;
}


.grid {
 
    height: 300px;
    width:900px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  /*   justify-items: center; */
  /* align-items: center; */
   grid-gap: 5px 10px;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;
}

section {
 /*  grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-column: 2/4; */
    grid-column: 2 / span 2;
    background-color: red;
  /*   padding: 10px; */
  /*   margin: 10px; */
}

img {
    width:100%;
}