* {
  margin: 0;
  padding: 0;
}


.margin {
    width: 300px;
    height: 150px;
    border:1px solid black;
    margin:10px 10px 10px 10px;
}

.padding {
    width: 300px;
    height: 150px;
    border:1px solid black;
    padding-top: 10px;
    
}

.auto {
    width: 300px;
    height: 150px;
    border:1px solid black;
    margin: 0 auto;
}


