* {
  margin: 0;
  padding: 0;
}

section {
    height: 900px;
}

#id {
    height: 50px;
    width: 50px;
    border:1px solid black;
    background-color:red;
}

.class {
    height: 50px;
    width: 50px;
    border:1px solid black;
    background-color:blue;
}

.orange {

    background-color:orange;
}


#orange {
    background-color:orange;
}

